/* MADE BY DEVLOOSKIE */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	transition: ease all 0.5s;
}
body {
	background-color: #23252D;
	overflow-x: hidden;
  width: 100%;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background:#9f9fa8;
}
body::-webkit-scrollbar-thumb {
	background: #5f6066;
	border-radius: 8px;
}
.error-container, h1, footer {
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 125px;
  color: #c25353;
  font-weight: 400;
}

h2 {
  color: #c25353;
  padding: 25px;
  font-weight: 300;
  font-size: 28px;
}

span {
	font-size: 15px;
  opacity: .7;
  color: #cf5454;
}
i {
  color: #cfa054;
}

span#or {
  position: unset;
  font-size: 20px;
  margin: 10px;
  display: block;
  color: #7a7a88;
}

h6 {
	color: #767782;
	font-size: 18px;
	font-weight: 200;
	line-height: 45px;
}

p {
  padding: 0 25px 25px 25px;
  font-size: 18px;
  color: #9f9fa8;
}

.error-container {
  background-color: #40444b;
  width: 55%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.btn-container {
  padding-top: 35px;
}

.home {
  position: relative;
	display: block;
	padding: 2px 15px;
	font-size: 17px;
  margin: 0 auto;
  margin-top: -33px;
	border: 0;
	color: #303535;
	border-radius: 5px;
	background-color: #E9CF72;
	box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.25);
	z-index: 999;
	cursor: pointer;
	transition: ease all 0.3s;
}

.home:hover {
	background-color: #fdeaa3;
}
.home:focus, .spotify:focus, .applemusic:focus {
	outline: 0;
}

.spotify, .applemusic {
  margin: 0 0 25px 0;
  border: none;
  background-color: unset;
  cursor: pointer;
  opacity: .6;
}
.spotify:hover, .applemusic:hover { opacity: 1 }

.spotify {
  margin-right: 25px;
}

h6 a {
	font-size: 18px;
	font-weight: 400;
}

a:hover {
	color: #fdeaa3;
	border-bottom: #9a751c solid 1px;
	opacity: 0.5;
}
a {
	font-size: 1.35em;
	text-decoration: none;
	color: #767782;
	opacity: 0.2;
}

footer {
	margin-top: 50px;
	height: 50px;
}

@media screen and (max-width: 1200px) {
  .error-container {
    width: 80%;
  }
}