*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: ease all .5s;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FAF2AC;
}

.home {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}
.not-home {
    z-index: 2;
}
.center {
    position: relative;
    text-align: center;
    z-index:999;
}


h1, p {
    color: #FFBF00;
    font-weight: 100;
}
h1 {
    padding-top: 25px;
    font-size: 35px;
}
h2 {
    padding-top: 190px;
    margin-bottom: -5px;
    font-size: 2.8em;
    color: #EF9B0F;
    font-weight: 400;
}

h4 {
    font-weight: 200;
    font-size: 28px;
    color: #614910
}
h4:first-child {
    padding-top: 50px; /* Make the first title 50 pixels off the top */
}
h6 {
    color: #332607;
    font-size: 16px;
    font-weight: 200;
    line-height: 45px;
}
h6 a:hover {
    font-size: 19px;
}
p {
    padding-bottom: 25px;
    font-size: 2em;
}
p.scroller, span {
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: 0.095em;
}
p.scroller {
    color: #49360A;
    opacity: .4;
}
span {
    color: #FFBF00;
}
.solojones {
    margin-bottom: -7px;
    height: auto;
    width: 500px;   
    transition: ease all 1s;
}
.expand {
    width: 600px;
}
.stream {
    background-color: #332607;
    color: #FAF2AC;
    font-size: 18px;
    font-weight: 200;
    padding: 6px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.25);
}
.stream:hover {
    color: #FFBF00;
}
.stream:active {
    color: #EF9B0F;
    outline: none;
}
.stream:focus { outline: none }
.spacer {
    display: inline-block;
    height: 200px;
    width: 200px;
}
.nav {
    max-height: 25px;
    position: absolute;
    z-index:2;
    left: 50%;
    bottom: 6px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-left: 10px;
}

ul {
    width: 310px;
    border-left: #332607 solid 2px;
    margin: 0 auto;
    padding-left: 10px;
    left: 6px;
}

li {
    display: inline;
}
.social {
    display: inline;
}
a.on-link {
    color: #EF9B0F;
    opacity: .7;
    border-bottom: #EF9B0F solid 1px;
}
a:hover {
    color: #EF9B0F;
    border-bottom: #9A751C solid 1px;
    opacity: .5;
}
a {
    font-size: 1.35em;
    text-decoration: none;
    color: #49360A;
    opacity: .2;
}

.left {
    width: 333px;
    position: absolute;
    top: 25px;
    left: 25px;
    text-transform: uppercase;
}
.right {
    position: absolute;
    right: 0;
    bottom:0;
}
.scroller {
    position: relative;
    z-index: -999;
}
p.scroller:nth-child(odd) {
    letter-spacing: 0.195em;
}

.fastboygozoooooom {
    animation: marquee 4.9s cubic-bezier(0.25, 1, 0.5, 1)
}
.slowboygobruh {
    animation: marquee 13s linear infinite;
}
.thirtypiece-scroller {
    display: block;
    height: 480px;
}
.two {
    margin-top: 240px;
    display: inline-block;
}

.not-home {
    position: relative;
    z-index: 999;
    text-align: center;
    background-color: #FAF2AC;
}
#MUSIC {
    font-weight: 400;
}

.video {
    width: 620px;
    height: 347px;
    margin-top: -5px;
    margin-left: -20px;
    box-shadow: 16px 4px 16px rgba(0, 0, 0, 0.25);
    z-index: 999;
}
.backplate-video {
    position: absolute;
    width: 630px;
    height: 358px;
    background-color: #FCDD64;
    margin-top: 105px;
    margin-left: 120px;
    transition: ease all .3s;
}
.backplate-video:hover {
    width: 615px;
    height: 350px;
}
.videospan {
    font-size: 15px;
    color: #332607;
}
.parent {
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) .25fr repeat(2, 1fr);
    grid-template-rows: .25fr 1fr .25fr .75fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}  
.div1 { grid-area: 2 / 1 / 5 / 4; }
.div2 { grid-area: 2 / 5 / 3 / 6; }
.div3 { grid-area: 2 / 6 / 3 / 7; }
.div4 { grid-area: 4 / 6 / 5 / 7; }
.div5 { grid-area: 4 / 5 / 5 / 6; }

.backplate {
    height: 235px;
    width: 235px;
    background-color: #FCDD64;
    margin-top: 5px;
    z-index:-999;
    transition: ease all .3s;
}
.backplate:hover {
    height: 228px;
    width: 228px;
}
.musicbtn {
    position: relative;
    display: block;
    padding: 0 15px;
    font-size: 17px;
    margin: 0 auto;
    margin-top: -18px;
    border: 0;
    color: #332607;
    border-radius: 5px;
    background-color: #fae8a8;
    box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.25);
    z-index: 999;
    cursor: pointer;
    transition: ease all .3s;
}
.musicbtn:hover {
    background-color: #ffe06f;
}
.music-cover {
    margin-top: -3px;
    position: relative;
    height: 225px;
    width: 225px;
    margin-left: -20px;
    z-index: 1;
    box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.25);
}
.not-home p {
    padding-top: 25px;
    font-size: 22px;
}

footer {
    margin-top: 50px;
    height: 50px
}
.home::before {
    content: '';
    position: absolute;
    top: 0;
    z-index:1;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    transform:scaleY(-1)
}
.home::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(250, 242, 172, 1) 100%
    );
}
@keyframes marquee {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
}
  
@keyframes marquee2 {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
}

@media screen and (max-width: 1400px), (max-height: 880px) {
    .solojones {
        width: 480px;
    }
}

@media screen and (max-width: 1200px) {
    .solojones {
        width: 400px;
    }
}

@media screen and (max-width: 1051px) {
    .right {
        display: none;
    }
    .left {
        left: 50px;
        width: 42%;
    }
    .center, .nav {
        margin-left: 42%;
        width: 58%;
    }
    .nav {
        left: 6px;
        margin-bottom: 12px;
        transform: unset;
    }
}
@media screen and (max-width:803px) {
    .left {
        width: 50%;
    }
    .center, .nav {
        width: 50%;
        margin-left: 50%;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow: unset;
    }
    .left {
        display: none;
    }
    .center, .nav {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .nav {
        bottom: 6px;
        margin-bottom: 12px;
    }
}
