*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: ease all .5s;
}

body {
    overflow: show;
    background-color: #FAF2AC;
}

.home {
    position: relative;
    min-height: 100vh;
}
.not-home {
    z-index: 2;
}
.center {
    position: relative;
    text-align: center;
}


h1, p {
    color: #FFBF00;
    font-weight: 100;
}
h1 {
    padding-top: 25px;
    font-size: 35px;
}
h2 {
    padding-top: 160px;
    margin-bottom: -5px;
    font-size: 34px;
    color: #EF9B0F;
    font-weight: 400;
}

h4 {
    font-weight: 200;
    font-size: 28px;
    color: #614910
}
h4:first-child {
    padding-top: 50px; /* Make the first title 50 pixels off the top */
}
h6 {
    color: #332607;
    font-size: 16px;
    font-weight: 200;
    line-height: 45px;
}
h6 a:hover {
    font-size: 19px;
}
p {
    padding-bottom: 25px;
    font-size: 27px;
}
p.scroller, span {
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: 0.095em;
}
p.scroller {
    color: #49360A;
    opacity: .4;
}
span {
    color: #FFBF00;
}
.solojones {
    margin-bottom: -7px;
    height: auto;
    width: 500px;
    transition: ease all 1s;
}
.expand {
    width: 600px;
}
.stream {
    background-color: #332607;
    color: #FAF2AC;
    font-size: 18px;
    font-weight: 200;
    padding: 6px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.25);
}
.stream:hover {
    color: #FFBF00;
}
.stream:active {
    color: #EF9B0F;
    outline: none;
}
.stream:focus { outline: none }
.spacer {
    display: inline-block;
    height: 200px;
    width: 200px;
}
.nav {
    max-height: 25px;
    position: absolute;
    left: 50%;
    bottom: 6px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-left: 10px;
}

ul {
    width: 266px;
    border-left: #332607 solid 2px;
    margin: 0 auto;
    padding-left: 10px;
    left: 6px;
}

li {
    display: inline
}
.social {
    display: inline;
}
a.on-link {
    color: #9A751C;
    border-bottom: #EF9B0F solid 1px;
}
a:hover {
    color: #332607;
    border-bottom: #9A751C solid 1px;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #EF9B0F;
    opacity: 55%;
}

.left {
    width: 333px;
    position: absolute;
    top: 25px;
    left: 25px;
    text-transform: uppercase;
}
.right {
    position: absolute;
    right: 0;
    bottom:0;
}
.scroller {
    position: relative;
    z-index: -999;
}
p.scroller:nth-child(odd) {
    letter-spacing: 0.195em;
}
.thirtypiece-scroller {
    display: block;
    height: 480px;
    animation: marquee 15s linear infinite;
}
.two {
    margin-top: 240px;
    display: inline-block;
    animation: marquee2 15s linear infinite;
}

.not-home {
    position: relative;
    z-index: 999;
    text-align: center;
    background-color: #FAF2AC;
}
.not-home p {
    padding-top: 25px;
    font-size: 22px;
}

footer {
    margin-top: 50px;
    height: 50px
}
@keyframes marquee {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
}
  
@keyframes marquee2 {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
}

@media screen and (max-width: 1400px), (max-height: 880px) {
    .solojones {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .solojones {
        width: 400px;
    }
}

@media screen and (max-width: 975px) {
    .right {
        display: none;
    }
    .left {
        left: 50px;
        width: 42%;
    }
    .center, .nav {
        margin-left: 42%;
        width: 58%;
    }
    .nav {
        left: 6px;
        margin-bottom: 12px;
        transform: unset;
    }
}
@media screen and (max-width:803px) {
    .left {
        width: 50%;
    }
    .center, .nav {
        width: 50%;
        margin-left: 50%;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow: unset;
    }
    .left {
        display: none;
    }
    .center, .nav {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .nav {
        bottom: 6px;
        margin-bottom: 12px;
    }
}
